*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial,  sans-serif;
    scroll-behavior: smooth;
    background: #f4f6f9;
    color: #333;
}
header{
    position:fixed;
    width:100%;
    background: white;
    display:flex;
    justify-content: space-between;
    padding: 15px 50px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

nav a{
    margin: 0 10px;
    text-decoration: none;
    color:#333;
}

section{
    padding: 100px 50px;
    min-height: 10vh;
}

.progress {
    background: #ddd;
    height: 8px;
    border-radius: 5px;
    margin-top: 5px;
}

.progress div {
    height: 8px;
    width: 0;
    background: #4f46e5;
    border-radius: 5px;
    transition: 1s ease;
}

.card {
    padding: 20px;
    background: white;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: red;
    padding: 20px;
    border-radius: 10px;
}

.dark {
    background: #111;
    color: white;
}